*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(226, 245, 245);
}

.bookList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .bookList {
        grid-template-columns: repeat(3, 1fr);
    }
}

h2 {
    color: #007185;
}
.author {
    color: #007185;
    font-size: 12px;
    margin-bottom: 2px;
}
.prop {
    font-size: 12px;
    margin-top: 2px;
}

h6 {
    color: #B12704;
    margin-top: 2px;
}

.book {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 1rem;
}