*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: rgb(226, 245, 245);
}

.bookList {
    width: 90vw;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}



@media screen and (min-width: 768px) {
    .bookList {
        grid-template-columns: repeat(3, 1fr);
    }
    .book {
        width: 28.5vw;
    }
    img {
        width: 23vw;
    }
}
@media screen and (max-width: 768px) {
    .bookList {
        grid-template-columns: repeat(2, 1fr);
    }
    .book {
        width: 40vw
    }
    img {
        width: 30vw
    };
}
@media screen and (max-width: 576px) {
    .bookList {
            grid-template-columns: repeat(1, 1fr);
        }
    .book {
        width: 89vw
    }
    img {
        width: 73.7vw
    };
}

.title {
    color: #007185;
    font-size: 14px;
    margin: 0.5rem 0;

}
.author {
    color: #007185;
    font-size: 12px;
    margin-bottom: 2px;
}
.prop {
    font-size: 12px;
    margin-top: 2px;
}

h6 {
    color: #B12704;
    margin-top: 2px;
    font-size: 14px;
}

.book {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 1rem;
    
}